<div class="container">

    <div *ngIf="isLoading && manufacturers.length == 0" class="spinner-holder">
        <span class="loader"></span>
    </div>

    <div *ngIf="manufacturers.length == 0" class="message-holder">
        <h1>No manufacturers yet...</h1>
    </div>

    <div *ngIf="manufacturers.length > 0" [ngClass]="{'manufacturers-list-holder-smaller-width':(screenWidth <= 866)}" class="manufacturers-list-holder">
        <div *ngFor="let manufacturer of manufacturers" [ngClass]="{'manufacturer-holder-smaller-width': (screenWidth <= 866)}" class="manufacturer-holder">
            <div class="manufacturer-manufacturer-name-holder">
                <h3>{{manufacturer.manufacturerName}}</h3>
            </div>
            <div class="manufacturer-country-holder">
                <h5>{{manufacturer.country}}</h5>
            </div>
            <div class="manufacturer-established-year">
                <p>{{manufacturer.establishedYear}}</p>
            </div>
            <div [ngClass]="{'manufacturer-details-button-holder-smaller-width button': (screenWidth <= 866)}" class="manufacturer-details-button-holder">
                <button>Details</button>
            </div>
        </div>
    </div>
</div>

